<h1>Whats it gonna be, <%= @customer.username %>?</h1><br>
<h4>Size:</h4>
<%= form_for @pizza do |f| %>
    <%= f.label :small %> 
    <%= f.radio_button :size, 'small' %> |
    <%= f.label :medium %>
    <%= f.radio_button :size, 'medium' %> |
    <%= f.label :large %>
    <%= f.radio_button :size, 'large' %>
    
    <h4>Crust:</h4>
    <%= f.label :thin %> 
    <%= f.radio_button :crust, 'thin' %> |
    <%= f.label :hand_tossed %>
    <%= f.radio_button :crust, 'tossed' %> |
    <%= f.label :pan %>
    <%= f.radio_button :crust, 'pan' %>

    <h4>Cheese:</h4>
    <%= f.label :light %> 
    <%= f.radio_button :cheese, 'light' %> |
    <%= f.label :regular %>
    <%= f.radio_button :cheese, 'regular', :required => true %> |

    <%= f.label :extra %>
    <%= f.radio_button :cheese, 'extra' %><br>

    <h4>Toppings:</h4>
    <p>    
    <% for topping in Topping.order_toppings %>
      <%= topping.name %> 
      <%= check_box_tag "pizza[topping_ids][]", topping.id, @pizza.toppings.include?(topping) %> |
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
