<h1>Whats it gonna be, <%= @current_customer.username %>?</h1>
<body>

<%= form_for @pizza do  |f| %>
    <strong> Size </strong><br>
    <%= f.label :personal %>
    <%= f.radio_button :size, 'personal 6"' %>
    <%= f.label :small %>
    <%= f.radio_button :size, 'Small 10"' %>
    <%= f.label :medium %>
    <%= f.radio_button :size, 'Medium 12"' %>
    <%= f.label :large %>
    <%= f.radio_button :size, 'Large 14"' %>
    <%= f.label :xtra_large %>
    <%= f.radio_button :size, 'Xtra Large 16"' %>
    <br><br>
    <strong> Crust </strong><br>
    <%= f.label :thin_crust %>
    <%= f.radio_button :crust, 'Thin Crust' %>
    <%= f.label :hand_tossed %>
    <%= f.radio_button :crust, 'Hand Tossed' %>
    <%= f.label :pan %>
    <%= f.radio_button :crust, 'Pan' %>
    <%= f.label :deep_dish %>
    <%= f.radio_button :crust, 'Deep Dish' %>
    <br><br>
    <strong> Cheese </strong><br>
    <%= f.label :Light %>
    <%= f.radio_button :cheese, 'Light' %>
    <%= f.label :Regular %>
    <%= f.radio_button :cheese, 'Regular' %>
    <%= f.label :Xtra %>
    <%= f.radio_button :cheese, 'Xtra' %>
    <br><br>
    <strong> Toppings </strong><br>
    <div class="form_row">
        <label for="meats"><strong> Meats</strong></label>
        <br>
        <% [ 'Italian Sausage', 'Pepperoni', 'Ham', 'Canadian Bacon', 'Chicken', 'Hamburger' ].each do |meats| %>
        <%= check_box_tag 'meats', meats, @meats == meats %>
        <%= meats.humanize %>
        <% end %>
    </div>
    <br>
    <div class="form_row">
        <label for="veggies"><strong> Veggies </strong></label>
        <br>
        <% [ 'Artichoke', 'Onions','Black Olives', 'Mushrooms', 'Red Peppers' ].each do |veggies| %>
        <%= check_box_tag 'veggies', veggies, @veggies == veggies %>
        <%= veggies.humanize %>
        <% end %>
    </div>
    <%= f.submit %>
    
  <% end %>



</body>

