<!DOCTYPE html>
<html>
  <head>
    <title>PizzaPierat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
      <ul style="color: red;">
        <% flash[:errors].each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= render 'layouts/nav' %>
    <%= yield %>
  </body>
</html>
